<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Storage</title>
</head>
<body>
    <div>
        Personal Info Storage
    </div>
    <form method="POST">
        <div>
            <label for="">Name</label>
            <input name="name">
        </div>
        <div>
            <label for="">Age</label>
            <input name="age">
        </div>
        <div>
            <label for="">Country</label>
            <input name="country">
        </div>
        <div>
            <label for="">Company</label>
            <input name="company">
        </div>
        <div>
            <label for="">Designation</label>
            <input name="designation">
        </div>
        <input type="submit">
    </form>  

</body>
</html>